{% extends "custom_admin/base.html" %}

{% block title %}Blog Posts - Custom Admin{% endblock %}

{% block content %}
<h2 class="text-2xl font-bold mb-4">Blog Posts</h2>

<table class="w-full bg-white rounded shadow">
    <thead>
        <tr class="bg-gray-200">
            <th class="p-2 text-left">Title</th>
            <th class="p-2 text-left">Author</th>
            <th class="p-2 text-left">Category</th>
            <th class="p-2 text-left">Created At</th>
            <th class="p-2 text-left">Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for post in blog_posts %}
        <tr>
            <td class="p-2">{{ post.title }}</td>
            <td class="p-2">{{ post.author.username }}</td>
            <td class="p-2">{{ post.category.name }}</td>
            <td class="p-2">{{ post.created_at|date:"M d, Y" }}</td>
            <td class="p-2">
                <a href="{% url 'custom_admin_blog_post_edit' post.pk %}" class="text-blue-500 hover:underline">Edit</a>
                <a href="{% url 'custom_admin_blog_post_delete' post.pk %}" class="text-red-500 hover:underline ml-2">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}